body {
    min-width: 1080px;
    font-family: Arial;
    font-size: 12px;
    color: #292929;
    margin: 0;
    background: #e8e6e3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAABlBMVEUAAADu7u6BVFV4AAAAAXRSTlMAQObYZgAAAD1JREFUaN7t0TEBAAAMgzDm3/Rs9MiBAVJ1mioPmIgJEzFhIiZMxERMmIgJEzFhIiZiwkRMmIgJEzERk8ke1xwJxQlKQNMAAAAASUVORK5CYII=);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    border :none;
}
.navbar-right {
    float: right !important;
    margin-right: 90px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 16px 15px;
    font-size: 20px;
    line-height: 20px;
}