.TimeSelectedItem {
    width: 290px;
    display: flex;
    align-items: center;
}

.icon{
    position:relative;
    padding: 5px;
    float:left;
    font-weight:700;
    font-size:100%;
    text-align: center;
    /* padding-top:6px; */
    color:#aaa;
    /* text-shadow:1px 1px 0 #ffb; */
    cursor:default;
}

.location{
    font-size:100%;
    margin:0;
    font-weight:normal;
    width: 120px;
    /* height:46px; */
    float:left;
}
.location b{
    font-weight: bold;
}

.city{
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.city small{
    /* display:inline-block; */
    /* -moz-border-radius:3px; */
    /* -webkit-border-radius:3px; */
    border-radius:3px;
    color:#888;
    font-weight:normal;
    font-size:7px;
    padding:0px 2px;
    margin-left: 2px;
    line-height:2.3;
    vertical-align:top;
    /* text-shadow:0 1px 0 #fff; */
    background:#f2f2f2;
    border:1px solid #eaeaea;
    cursor:default;
}

.country{
    /* font-size:100%; */
    font-size:12px;
    vertical-align:middle;
    color:#888;
    /* font-weight:normal; */
    /* position:relative; */
}

.data{
    width: 150px;
    display: flex;
    justify-content: flex-end;
    /* text-align:left; */
    /* position:absolute; */
    /* left:185px; */
    /* white-space:nowrap; */
    /* overflow:hidden; */
}
.time{
    font-size:12px;
    font-weight:700;
    /* background-color:inherit; */
    width:70px;
    text-align:right;
}
.date{
    font-size:12px;
    /* vertical-align:middle; */
    color:#888;
    /* background-color:inherit; */
    width: 70px;
    text-align:right;
}

.data-end .date,.data-end .time{
    text-align:left;
}

.separate{
    width:20px;
    text-align:center;  
    /* margin-left:10px; */
    /* display:inline-block; */
}
.ampm{
    font-size:12px;
    padding-left:1px;
}