.editModal {
  margin: 28px 28px;
  width: 95vw;
}
.editModal .modal-content {
  width: 95vw;
}

.Header {
  padding: 10px 20px 10px;
  width: 100%;
  display: flex;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

.main {
  width: 100%;
  background-color: #ffffff;
}

.editModal .timeline-selector {
  position: relative;
}
.editModalBody .timeline-selector #range-selector {
  width: 778px;
}

.list-event {
  padding: 0 10px;
}

.list-event .btn {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.list-event .table {
  font-size: 14px;
}

.list-event--thead-action {
  text-align: center;
}

.list-event--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 15px 12px;
}

.list-event--header .btn-primary:hover {
  background-color: #fff;
  border-color: #007bff;
  color: #007bff;
}

.list-event--heading {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.list-event--group {
  list-style: none;
}

.list-event--item {
  border: 0;
  padding: 0;
}

.list-event--action {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 0 !important;
}

.list-event--action .btn-warning:hover {
  background-color: #fff;
  border-color: #ffc107;
}

.list-event--action .btn-danger:hover {
  background-color: #fff;
  border-color: #bd2130;
  color: #bd2130;
}
